@*@inject IJSRuntime JSRuntime;

<div class="modal fade" id="modal-image" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen modal-dialog-centered modal-" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row p-0">
                    @if(Model != null){
                        @foreach (var x in Model.Select((Value, Index) => (Index, Value)))
                        {
                            <div class="col-2 border">
                                <img src="@x.Value" class="w-100 p-3" @onclick="() => Method(x.Index)" />
                            </div>
                        }
                    }else{
                        <div class="spinner-grow" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    }
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

@code {
    
}*@