@*@page "/property"

<div class="container-fluid">
    <div class="nk-content-inner">
        <div class="nk-content-body">
            <div class="nk-block-head nk-block-head-sm">
                <div class="nk-block-between">
                    <div class="nk-block-head-content">
                        <h3 class="nk-block-title page-title">Orders</h3>
                    </div><!-- .nk-block-head-content -->
                    <div class="nk-block-head-content">
                        <div class="toggle-wrap nk-block-tools-toggle">
                            <a href="#" class="btn btn-icon btn-trigger toggle-expand mr-n1" data-target="pageMenu"><em class="icon ni ni-more-v"></em></a>
                            <div class="toggle-expand-content" data-content="pageMenu">
                                <ul class="nk-block-tools g-3">
                                    <li>
                                        <div class="form-control-wrap">
                                            <div class="form-icon form-icon-right">
                                                <em class="icon ni ni-search"></em>
                                            </div>
                                            <input type="text" class="form-control" id="default-04" placeholder="Quick search by id">
                                        </div>
                                    </li>
                                    <li>
                                        <div class="drodown">
                                            <a href="#" class="dropdown-toggle dropdown-indicator btn btn-outline-light btn-white" data-toggle="dropdown">Status</a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <ul class="link-list-opt no-bdr">
                                                    <li><a href="#"><span>On Hold</span></a></li>
                                                    <li><a href="#"><span>Delevired</span></a></li>
                                                    <li><a href="#"><span>Rejected</span></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="nk-block-tools-opt">
                                        <a href="#" class="btn btn-icon btn-primary d-md-none"><em class="icon ni ni-plus"></em></a>
                                        <a href="#" class="btn btn-primary d-none d-md-inline-flex"><em class="icon ni ni-plus"></em><span>Add Order</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div><!-- .nk-block-head-content -->
                </div><!-- .nk-block-between -->
            </div><!-- .nk-block-head -->
            <div class="nk-block">
                <table class="table table-bordered bg-white text-center">
                    <thead class="thead-light">
                        <tr>
                            <th><span class="">#</span></th>
                            <th>Tên Thuộc Tính</th>
                            <th>Giá Trị</th>
                            <th>Ngày Tạo</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var x in Model.Select((Value, Index) => new { Index, Value }))
                        {
                            <tr>
                                <td class="align-middle w-10">@x.Index</td>
                                <td class="align-middle w-25">@x.Value.ThuocTinh?.Ten</td>
                                <td class="p-0 border-0">
                                    <table class="table m-0">
                                        <tbody>
                                            @foreach (var y in x.Value.GiaTris)
                                            {
                                                <tr>
                                                    <td class="w-50">
                                                        @y.Ten
                                                    </td>
                                                    <td class="w-50"><a href="#" class="link-cross mr-sm-n1"><em class="icon ni ni-cross"></em></a></td>
                                                </tr>
                                            }
                                            <tr>
                                                <td colspan="2">
                                                    <em class="icon ni ni-plus"></em>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td class="align-middle w-25">
                                    @x.Value.ThuocTinh.NgayTao
                                </td>
                                <td class="tb-tnx-action align-middle">
                                    <div class="dropdown">
                                        <a class="text-soft dropdown-toggle btn btn-icon btn-trigger" data-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-xs">
                                            <ul class="link-list-plain">
                                                <li><a href="#">View</a></li>
                                                <li><a href="#">Edit</a></li>
                                                <li><a href="#">Remove</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div><!-- .nk-block -->
        </div>
    </div>
</div>

*@