@page "/trackorder"
@using MinkyShopProject.Data.Models
@inject HttpClient HttpClient

<main class="bg_gray">
	<div class="container margin_30">
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead>
					<tr>
						<td>STT</td>
						<td>Mã Đơn Hàng</td>
						<td>Ngày Đặt Hàng</td>
						<td>Số Sản Phẩm</td>
						<td>Trạng Thái</td>
						<td></td>
					</tr>
				</thead>
				<tbody>
					@if(HoaDon != null)
					{
						foreach (var x in HoaDon.Data)
						{
							<tr>
								<td style="vertical-align: middle">1</td>
								<td style="vertical-align: middle">@x.Ma</td>
								<td style="vertical-align: middle">@x.NgayTao</td>
								<td style="vertical-align: middle">@x.HoaDonChiTiets.Count()</td>
								<td style="vertical-align: middle">
									@{
										var trangThaiGiaoHang = "";
										@switch (x.TrangThaiGiaoHang)
										{
											case 0:
												trangThaiGiaoHang = "Chờ Xác Nhận";
												break;
											case 1:
												trangThaiGiaoHang = "Chờ Lấy Hàng";
												break;
											case 2:
												trangThaiGiaoHang = "Đang Giao";
												break;
											case 3:
												trangThaiGiaoHang = "Đã Giao";
												break;
											case 4:
												trangThaiGiaoHang = "Đã Hủy";
												break;
											case 5:
												trangThaiGiaoHang = "Chỉ Nhận Một Phần";
												break;
											case 6:
												trangThaiGiaoHang = "Giao Thất Bại";
												break;
											case 7:
												trangThaiGiaoHang = "Không Nghe Máy";
												break;
											default:
												break;
										}
									}
									@trangThaiGiaoHang
								</td>
								<td style="vertical-align: middle; width: 20%">
									<button class="btn_1">Xem Chi Tiết</button>
									<button class="btn_1" style="background: red">Hủy</button>
								</td>
							</tr>
						}
					}
				</tbody>
			</table>
		</div>
	</div>
</main>
<!--/main-->

@code{
	ResponseList<HoaDonModel>? HoaDon;

	protected async override Task OnInitializedAsync()
	{
		HoaDon = await HttpClient.GetFromJsonAsync<ResponseList<HoaDonModel>>("https://localhost:7053/api/HoaDon/khachhang/68AD5C67-81D8-4F1F-A596-5D7FD7EDA692");
	}
}