@page "/sale"
@layout Shared.EmptyLayout

<div class="container-fluid bg-primary">
    <div class="row">
        <div class="col-5">
            <div class="form-group mb-0">
                <div class="input-group input-group-alternative">
                    <span class="input-group-text"><i class="ni ni-zoom-split-in"></i></span>
                    <input class="form-control h-25" placeholder="Tìm Sản Phẩm" type="text">
                </div>
            </div>
        </div>
        <div class="col-5 d-flex">
            <ul class="nav nav-tabs border-0 flex-nowrap" style="overflow: hidden; direction: rtl" id="myTab">
                @for (int i = HoaDons.Count(); i > 0; i--)
                {
                    <li class="nav-item" style="font-size: .875rem">
                        <button class="nav-link text-bold" style="white-space: nowrap" data-bs-toggle="tab" data-bs-target="#hoa-don-@i" type="button">Hóa Đơn @i</button>
                    </li>
                }
            </ul>
            <button class="btn btn-info m-0" type="button" @onclick='() => HoaDons.Add("HoaDon")'>+</button>
        </div>
    </div>
</div>
<div class="container-fluid mt-2">
    <div class="row gx-2">
        <div class="col-6">
            <div class="card" style="height: 500px; overflow-y: scroll">
                <div class="card-body">
                    @for (int i = HoaDons.Count(); i > 0; i--)
                    {
                        <div class="tab-content mt-2">
                            <div class="tab-pane fade show" id="hoa-don-@i" tabindex="0">
                                <div class="card mb-2">
                                    <div class="card-body">
                                        Hóa Đơn @i
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card" style="height: 500px">
                <div class="card-body">
                    <div class="row justify-content-center">
                        @for (int i = 0; i <= 3; i++)
                        {
                            <div class="col-5">
                                <div class="card card-plain product-sale p-2">
                                    <div class="row">
                                        <div class="col-lg-5">
                                            <div class="position-relative">
                                                <div class="d-inline-block p-2">
                                                    <img class="img-fluid" src="https://firebasestorage.googleapis.com/v0/b/minkyshop-bed92.appspot.com/o/images%2F51CpbaSkC0S._AC_UF1000%2C1000_QL80_.jpg?alt=media&token=2c56cc85-a2a7-4b64-90d6-f46be6e8edf2">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-7 ps-0 pe-0 my-auto">
                                            <div class="card-body p-1 text-left">
                                                <div class="p-md-0 pt-3">
                                                    <h6 class="font-weight-bolder mb-0 text-sm">Joshua Jackson</h6>
                                                    <p class="text-uppercase text-sm font-weight-bold text-sm">100.000</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code{
    List<string> HoaDons = new List<string>() { "Hóa Đơn 1" };
}