@page "/admin/thongke/TienNgayThangNam"
@using MinkyShopProject.Data.Models
@inject SweetAlertService Swal
@inject HttpClient HttpClient
@inject IJSRuntime JSRuntime

<div class="container-fluid py-4">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <h3 style="text-align: center">Thống kê Tiền</h3>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6 d-flex align-items-center">
                            <label for="thongKeDoanhThu" class="w-50">Thống kê doanh thu:</label>
                            <select class="form-control w-50" @bind="selectedOption" @oninput="async () => await Reload()">
                                <option value="homnay">Hôm nay</option>
                                <option value="homqua">Hôm qua</option>
                                <option value="7ngaytruoc">7 ngày trước</option>
                                <option value="thangtruoc">Tháng trước</option>
                                <option value="thangnay">Tháng này</option>
                            </select>
                            @if (ThongKeTongTienResult != null)
                            {
                                <label class="w-50">
                                    Tổng tiền: @((ThongKeTongTienResult.Data.TongTienTatCa /
                                                  ((ThongKeTongTienResult.Data.TongTienTatCa >= 1000000000) ? 1000000000 :
                                                      (ThongKeTongTienResult.Data.TongTienTatCa >= 1000000) ? 1000000 : 1))
                                                   .ToString((ThongKeTongTienResult.Data.TongTienTatCa >= 1000000) ? "N2" : "N0"))
                                    @((ThongKeTongTienResult.Data.TongTienTatCa >= 1000000000) ? "tỷ" :
                                        (ThongKeTongTienResult.Data.TongTienTatCa >= 1000000) ? "triệu" : "")
                                    đồng
                                </label>
                            }
                        </div>
                    </div>
                    <div class="table-responsive">
                        <canvas id="chart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    string selectedOption;
    Uri Url;
    ResponseObject<ThongKeTongTienResult> ThongKeTongTienResult;

    protected async override void OnInitialized()
    {
        selectedOption = "homnay";
        Url = new Uri($"https://localhost:7053/api/ThongKe/ThongKeTongTienNgayTienThangNam?loaiThongKe={selectedOption}");
        ThongKeTongTienResult = await HttpClient.GetFromJsonAsync<ResponseObject<ThongKeTongTienResult>>(Url);
    }

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        await Reload();
        Console.WriteLine(ThongKeTongTienResult.Data.TongTienTatCa);
    }

    async Task Reload()
    {
        Url = new Uri($"https://localhost:7053/api/ThongKe/ThongKeTongTienNgayTienThangNam?loaiThongKe={selectedOption}");
        ThongKeTongTienResult = await HttpClient.GetFromJsonAsync<ResponseObject<ThongKeTongTienResult>>(Url);
        await JSRuntime.InvokeVoidAsync("drawChart", ThongKeTongTienResult);
    }
} 