@inherits LayoutComponentBase;

<div class="min-height-300 bg-primary position-absolute w-100"></div>
<SidebarComponent></SidebarComponent>
<main class="main-content position-relative border-radius-lg ">
    <HeaderComponent></HeaderComponent>
    @Body
</main>

