@inherits LayoutComponentBase;
@inject IJSRuntime JSRuntime;


<div class="nk-app-root">
    <div class="nk-main ">
        <SidebarComponent></SidebarComponent>
        <div class="nk-wrap ">
            <HeaderComponent></HeaderComponent>
            <div class="nk-content ">
                @Body
            </div>
        </div>
    </div>
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JSRuntime.InvokeVoidAsync("script");
        await JSRuntime.InvokeVoidAsync("chat_ecommerce");
    }
}
