@inherits LayoutComponentBase;
@inject NavigationManager NavigationManager;
@inject ISessionStorageService Session;

<main class="main-content border-radius-lg ">
    @Body
</main>

@code{
    protected async override Task OnInitializedAsync()
    {
        if (await Session.GetItemAsStringAsync("Token") == null) NavigationManager.NavigateTo("/login");
    }
}

