@using Blazored.LocalStorage;
@using MinkyShopProject.Business.Entities;
@using System.IdentityModel.Tokens.Jwt;
@inject ILocalStorageService local;
@inject HttpClient HttpClient;
@inject NavigationManager NavigationManager;

    <!-- Navbar -->
<!-- Navbar -->
<nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl " id="navbarBlur" data-scroll="false">
    <div class="container-fluid py-1 px-3">
        <nav aria-label="breadcrumb">
            <div class="form-check form-switch">
                <input class="form-check-input bg-danger" type="checkbox" id="flexSwitchCheckDefault"
                       onchange="
                        document.querySelector('.main-content').style.marginLeft =
                        document.querySelector('.main-content').style.marginLeft == '17.125rem' ? '0' : '17.125rem'
                        document.getElementById('sidenav-main').style.transform =
                        document.querySelector('.main-content').style.marginLeft != '17.125rem' ? 'translateX(-17.125rem)' : 'translateX(0)'
                        ">
            </div>
        </nav>
        <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
            <div class="ms-md-auto pe-md-3 d-flex align-items-center">
            </div>
            <ul class="navbar-nav  justify-content-end">
                <li class="nav-item px-3 d-flex align-items-center">
                     <a class="nav-link text-white font-weight-bold px-0" data-bs-toggle="modal" data-bs-target="#exampleModal" style="cursor:pointer">
                        <i class="fa fa-play"></i>
                        <span class="d-sm-inline d-none">Bắt đầu ca</span>
                     </a>
                </li>
                <li class="nav-item d-flex align-items-center">
                    @if (IsAuth)
                    {
                        <a href="javascript:;" class="nav-link text-white font-weight-bold px-0">
                            <i class="fa fa-user me-sm-1"></i>
                            <span class="d-sm-inline d-none">@Ten</span>
                        </a>

                    }
                    else
                    {
                        <NavLink href="/login" class="nav-link text-white font-weight-bold px-0">
                            <i class="fa fa-user me-sm-1"></i>
                            <span class="d-sm-inline d-none">Sign In</span>
                        </NavLink>
                    }
                    
                </li>
                @if (IsAuth)
                {
                    <li class="nav-item px-3 d-flex align-items-center">
                       @* <a href="javascript:;" class="nav-link p-0 text-bolder text-danger" @onclick='async () => {
                            await Session.RemoveItemAsync("Token");
                            NavigationManager.NavigateTo("/login");
                        }'>
                            Đăng xuất
                        </a>*@
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>

<BeginingModalComponent></BeginingModalComponent>

@code{
    bool IsAuth = true;

    string Ten = "";

    private GiaoCa Ca = new();

    protected async override Task OnInitializedAsync()
    {
        if (await local.GetItemAsStringAsync("Token") == null)
        {
            IsAuth = false;
        }
        else
        {
            var jwt = new JwtSecurityTokenHandler().ReadJwtToken(await local.GetItemAsStringAsync("Token"));
            Ten = jwt.Claims.FirstOrDefault(c => c.Type.Equals("Ten"))?.Value ?? "";
            var IdNhanVien = jwt.Claims.FirstOrDefault(c => c.Type.Equals("Id"))?.Value;
            IsAuth = true;
            var result = await HttpClient.GetFromJsonAsync<Response<GiaoCa>>($"https://localhost:7053/api/GiaoCas?Id={Guid.Parse(IdNhanVien)}&ThoiGian={DateTime.Now}");
            Ca = result.Data;
        }
    }
}

