@using Blazored.LocalStorage;
@using MinkyShopProject.Business.Entities;
@using System.IdentityModel.Tokens.Jwt;
@inject ILocalStorageService Session;
@inject HttpClient HttpClient;
@inject NavigationManager NavigationManager;

    <!-- Navbar -->
<!-- Navbar -->
<nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl " id="navbarBlur" data-scroll="false">
    <div class="container-fluid py-1 px-3">
        <nav aria-label="breadcrumb">
            <div class="form-check form-switch">
                <input class="form-check-input bg-danger" type="checkbox" id="flexSwitchCheckDefault"
                       onchange="
                        document.querySelector('.main-content').style.marginLeft =
                        document.querySelector('.main-content').style.marginLeft == '17.125rem' ? '0' : '17.125rem'
                        document.getElementById('sidenav-main').style.transform =
                        document.querySelector('.main-content').style.marginLeft != '17.125rem' ? 'translateX(-17.125rem)' : 'translateX(0)'
                        ">
            </div>
        </nav>
        <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
            <div class="ms-md-auto pe-md-3 d-flex align-items-center">
            </div>
            <ul class="navbar-nav  justify-content-end">
                    <li class="nav-item px-3 d-flex align-items-center">
                        <a class="nav-link text-white font-weight-bold px-0" data-bs-toggle="modal" data-bs-target="#exampleModal" style="cursor:pointer">
                            <i class="fa fa-play"></i>
                            <span class="d-sm-inline d-none">Bắt đầu ca</span>
                        </a>
                    </li>

                <li class="nav-item d-flex align-items-center">
                    <a href="javascript:;" class="nav-link text-white font-weight-bold px-0">
                        <i class="fa fa-user me-sm-1"></i>
                        @if (!IsAuth)
                        {
                            <span class="d-sm-inline d-none">Sign In</span>
                        }else{
                            <span class="d-sm-inline d-none">Xin Chào @Ten</span>
                        }
                    </a>
                </li>
                @if (IsAuth)
                {
                    <li class="nav-item px-3 d-flex align-items-center">
                       @* <a href="javascript:;" class="nav-link p-0 text-bolder text-danger" @onclick='async () => {
                            await Session.RemoveItemAsync("Token");
                            NavigationManager.NavigateTo("/login");
                        }'>
                            Đăng xuất
                        </a>*@
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>

<BeginingModalComponent></BeginingModalComponent>

@code{
    bool IsAuth = false;

    string Ten = "";

    protected async override Task OnInitializedAsync()
    {
        if (await Session.GetItemAsStringAsync("Token") != null)
        {
            IsAuth = true;
            var jwt = new JwtSecurityTokenHandler().ReadJwtToken(await Session.GetItemAsStringAsync("Token"));
            Ten = jwt.Claims.FirstOrDefault(c => c.Type.Equals("Ten"))?.Value ?? "";
        }
        else
        {
            IsAuth = false;
        }
    }
}

