<footer style="margin-top: 10px">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-6">
				<h3 data-target="#collapse_1">Quick Links</h3>
				<div class="collapse dont-collapse-sm links" id="collapse_1">
					<ul>
						<li><a href="about.html">Trang Chủ</a></li>
						<li><a href="help.html">Sản Phẩm</a></li>
						<li><a href="help.html">Blog</a></li>
						<li><a href="account.html">About</a></li>
						<li><a href="blog.html">Blog</a></li>
						<li><a href="contacts.html">Liên Hệ</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<h3 data-target="#collapse_2">Nhóm Sản Phẩm</h3>
				<div class="collapse dont-collapse-sm links" id="collapse_2">
					<ul>
						<li><a href="listing-grid-1-full.html">Clothes</a></li>
						<li><a href="listing-grid-2-full.html">Electronics</a></li>
						<li><a href="listing-grid-1-full.html">Furniture</a></li>
						<li><a href="listing-grid-3.html">Glasses</a></li>
						<li><a href="listing-grid-1-full.html">Shoes</a></li>
						<li><a href="listing-grid-1-full.html">Watches</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<h3 data-target="#collapse_3">Contacts</h3>
				<div class="collapse dont-collapse-sm contacts" id="collapse_3">
					<ul>
						<li><i class="ti-home"></i>Fpoly Hà Nội<br></li>
						<li><i class="ti-headphone-alt"></i>+84 357503628</li>
						<li><i class="ti-email"></i><a href="#0">minkyshop@gmail.com</a></li>
					</ul>
				</div>
			</div>
        </div>
    </div>
</footer>
<!--/footer-->